# Units in which timestamps are recorded
1000000000
# Outlier threshold for individual functions
__curfile_reset 100 ms
__curfile_search 50 ms
__curfile_update 3 ms
__evict_lru_pages 75 ms
__evict_lru_walk 20 ms
__evict_page 75 ms
__evict_walk 20 ms
__wt_cache_eviction_worker 10 ms
__wt_cond_wait_signal 5 s
__wt_cursor_set_valuev 10 ms