# Units in which timestamps are recorded
1000000000
# Latency violation thresholds for individual operations.
# These will be highlighted on the charts.
__curfile_reset 250 ms
__curfile_search 250 ms
__curfile_update 250 ms
__evict_lru_pages 250 ms
__evict_lru_walk 250 ms
__evict_page 250 ms
__evict_walk 250 ms
__wt_cache_eviction_worker 250 ms
__wt_cond_wait_signal 5 s
