name: PR Checklist

on:
  pull_request:
    types:
      - opened

jobs:
  add-comment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            const comment = `
            ## Checklist before requesting a review
            - [ ] I have performed a self-review of my code.
            - [ ] I have made corresponding changes to the documentation (if applicable).
            - [ ] I have added/updated tests that demonstrate my fix is effective or that my feature works correctly.
            `;

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: comment
            })